{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="red">Olá, mundo</h1>
    <img src="{% static 'django.png' %}" alt="">
    <button><a href="{% url 'novo' %}">Criar novo</a></button>


    {% for jogador in jogadores %}
        <li> {{ jogador.nome }} - {{jogador.numero}} - {{jogador.idade}} - {{jogador.altura}} - {{jogador.time}} - {{jogador.posicao}} <a href="{% url 'editar' jogador.id %}">Editar</a> <a href="{% url 'excluir' jogador.id %}">Excluir</a></li>
    {% endfor %}
</body>
</html>