{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container my-5">
    <form action="{% url 'salvar' %}" method="POST" class="form-container">
        {% csrf_token %}
        <h2 class="form-title">Cadastro de Jogador</h2>
        
        <div class="form-group">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control form-input" required>
        </div>
        
        <div class="form-group">
            <label for="numero" class="form-label">Número</label>
            <input type="text" name="numero" id="numero" class="form-control form-input" required>
        </div>
        
        <div class="form-group">
            <label for="idade" class="form-label">Idade</label>
            <input type="text" name="idade" id="idade" class="form-control form-input" required>
        </div>
        
        <div class="form-group">
            <label for="altura" class="form-label">Altura</label>
            <input type="text" name="altura" id="altura" class="form-control form-input" required>
        </div>
        
        <div class="form-group">
            <label for="clube" class="form-label">Clube</label>
            <select name="clube" id="clube" class="form-control form-select" required>
                <option value="">Selecione um clube</option>
                {% for clube in clubes %}
                    <option value="{{ clube.id }}" {% if clube == jogador.clube %}selected{% endif %}>{{ clube.nome }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="posicao" class="form-label">Posição</label>
            <input type="text" name="posicao" id="posicao" class="form-control form-input" required>
        </div>
        
        <button type="submit" class="btn btn-primary form-button mt-3">Criar</button>
    </form>
</div>


{% endblock %}