<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}
            <h2>nome</h2>
            <input type="text" name="nome"><br>
            <h2>numero</h2>
            <input type="text" name="numero"><br>
            <h2>idade</h2>
            <input type="text" name="idade"><br>
            <h2>altura</h2>
            <input type="text" name="altura"><br>
            <h2>time</h2>
            <input type="text" name="time"><br>
            <h2>posição</h2>
            <input type="text" name="posicao"><br>
            <h2>descricao</h2>
            <input type="text" name="descricao"><br>
            <button type="submit">Criar</button>
</body>
</html>